<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/styles.css" />
    <title>Pickle Rig</title>
  </head>
  <body>
    <!-- HEADER LOGO AND MENU -->
    <header id="header" class="header">
      <nav class="navbar navbar-expand-lg bg-dark">
      <div class="container-fluid">
        <!-- <a class="navbar-brand" href="#">PIKCLE</a> -->
        <img class="logo" src="../img/logo.svg" alt="logo de pickle">
        <div class="navcontainer">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="menu-nav">
            <li class="menu__item">
              <a class="menu__link" href="../index.html">Home</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="./Shop.html">Shop</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="./About_us.html">About us</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="./Contact.html">Contact</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="./Youtube.html">Youtube</a>
            </li>
          </ul>        
        </div>
      </div>
     </div>
     </nav>
    </header>

    <section class="formulario">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="johndoe@pickle.rig">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Leave us your message</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    <input type="button" value="Submit" />
  </section>
    <br />
    <section class="mapa">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d754017.4953367866!2d-76.91391974845082!3d42.419627849502376!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89dafbbc24213507%3A0x11ba6127e052dd50!2sPIckle%20Rick%20HQ!5e0!3m2!1ses-419!2sar!4v1653597552921!5m2!1ses-419!2sar" width="900" height="675" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </section>
    <br />
    <footer>
      2030 - Pickle Rig. All Rights Reserved
      <p>Follow us on our social networks</p>
      <section class="media">
      <a href="https://www.instagram.com" target="_blank"
        ><span
          class="iconify-inline"
          data-icon="akar-icons:instagram-fill"
          style="color: #c2e812"
          data-width="30"
          data-height="30"
        ></span
      ></a>
      <a href="https://www.twitter.com" target="_blank"
        ><span
          class="iconify-inline"
          data-icon="akar-icons:twitter-fill"
          style="color: #c2e812"
          data-width="30"
          data-height="30"
        ></span
      ></a>
      <a href="https://www.facebook.com" target="_blank"
        ><span
          class="iconify-inline"
          data-icon="akar-icons:facebook-fill"
          style="color: #c2e812"
          data-width="30"
          data-height="30"
        ></span
      ></a>
    </footer>
    <section class="social">
      <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
      <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
      <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
    </section>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>