<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/translated.css" />
    <meta name="description" content="The best Rick and Morty clips are here!" />
    <meta name="keywords" content="video, youtube, clips">
    <meta name="author" content="John Pickle" />
    <meta name="copyright" content="Pickle Rick All Rights Reserved" />
    <meta name="robots" content="index"/>
    <title>Videos</title>
  </head>
  <body>
    <!-- HEADER LOGO AND MENU -->
    <header id="header" class="header">
      <nav class="navbar navbar-expand-lg bg-dark">
      <div class="container-fluid">
        <!-- <a class="navbar-brand" href="#">PIKCLE</a> -->
        <img class="logo" src="../img/logo.svg" alt="logo de pickle">
        <div class="navcontainer">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="menu-nav">
            <li class="menu__item">
              <a class="menu__link" href="../index.html">Home</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="./Shop.html">Shop</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="./About_us.html">About us</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="./Contact.html">Contact</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="./Youtube.html">Youtube</a>
            </li>
          </ul>        
        </div>
      </div>
     </div>
     </nav>
    </header>

    <section class="parrafo">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi quasi distinctio, nobis harum incidunt quisquam quod non impedit necessitatibus libero molestias, nisi adipisci eveniet! Assumenda fugiat, dignissimos facilis ut ex cupiditate doloremque similique repellat saepe magnam corporis laboriosam commodi officiis fugit expedita quia mollitia sapiente praesentium alias veritatis blanditiis aut quaerat tempore voluptatem. Voluptate, aliquid sint numquam, voluptatem repellat mollitia iste repudiandae autem provident aliquam quisquam est vero, nobis pariatur laboriosam culpa cupiditate unde. Illo cum numquam dignissimos veniam, possimus, dicta itaque omnis explicabo ad corporis enim aperiam modi vitae tempora sint, adipisci ratione voluptatibus sunt. Pariatur fuga expedita sit.
  </section>
    <br />
    <br />
    <iframe class="video"
      width="560"
      height="315"
      src="https://www.youtube.com/embed/3PazUCLfULo"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
    <br />
    <br />
    <footer>
      2030 - Pickle Rig. All Rights Reserved
      <p id="footer">Follow us on our social networks</p>
      <section class="media">
      <a href="https://www.instagram.com" target="_blank"
        ><span
          class="iconify-inline"
          data-icon="akar-icons:instagram-fill"
          style="color: #c2e812"
          data-width="30"
          data-height="30"
        ></span
      ></a>
      <a href="https://www.twitter.com" target="_blank"
        ><span
          class="iconify-inline"
          data-icon="akar-icons:twitter-fill"
          style="color: #c2e812"
          data-width="30"
          data-height="30"
        ></span
      ></a>
      <a href="https://www.facebook.com" target="_blank"
        ><span
          class="iconify-inline"
          data-icon="akar-icons:facebook-fill"
          style="color: #c2e812"
          data-width="30"
          data-height="30"
        ></span
      ></a>
    </footer>
    <section class="social">
      <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
      <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
      <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
    </section>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>
