@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Lato&display=swap');

* { margin: 0.2rem;}

body {
    font-family: 'Lato', sans-serif;
    background-image: url('../img/back3.png');
    background-size: cover;
    max-width: 1200px;
    margin: 0 auto;
}