
// Colors
$primary: #c2e812;
$secondary: #191716;
$text-color: aliceblue;
$base: #77796978;

$palette: (
    'primary': #c2e812,
    'secondary': #191716,
    'text-color': aliceblue,
    'base': #77796978,
);

// Spacings
$spacing-large: 6rem;
$spacing-medium: 2.4rem;
$spacing-small: 2rem;
$spacing-xsmall: 1.5rem;

// Font-Family
$font-principal: 'Lato', sans-serif;
$font-title: 'Roboto Slab', serif;

// Font-Sizes
$text-large: 5.2em;
$text-medium: 2.2em;
$text-base: 1.6em;
$text-small: 1.4em;